node_modules/

dist/
tmp/
build/
.cache/

ember-debug/
*.log
*.lock

.git/
.gitignore

.idea/
.vscode/

.DS_Store

Dockerfile
README.md

.env
*.env

tests/
test/
mock/

*.log
*.pid
*.gz

*.bak
*.swp
*.swo
