{{page-title "Page Not Found"}}
<div class="flex  justify-center h-screen text-center ">
    <div class="p-6  rounded shadow-md ">
        <h1 class="text-4xl font-semibold text-red-500">404</h1>
        <p class="mt-4 text-lg text-foreground">Oops! The page you're looking for can't be found.</p>
        <LinkTo @route="articles" class="button" data-variant="default">
            Go to Homepage
        </LinkTo>
    </div>
</div>